/* la map */
#container .el{
    display:block;
    width:10px;
    height:10px;
    background:url("../img/sprite.png") 0 0 no-repeat;
}
/* les elements */
#container .grass1{background-position:0px 0px;}
#container .grass2{background-position:-32px 0px;}
#container .ground1{background-position:-32px -64px;}
#container .ground2{background-position:-32px -480px;}
#container .water{background-position:-32px -832px;}
/*transistion Y*/
#container .wg_y_top{background-position:-32px -864px;}
#container .wg_y_bottom{background-position:-32px -800px;}
#container .wg_x_left{background-position:-64px -832px;}
#container .wg_x_right{background-position:-0px -832px;}
/*transition X*/

/*transition Diago*/
#container .wg_angle_interne_no{background-position:-0px -802px;}
#container .wg_angle_interne_ne{background-position:-60px -802px;}

#container .wg_angle_interne_so{background-position:-0px -865px;}
#container .wg_angle_interne_se{background-position:-60px -865px;}

#container .wg_angle_externe_ne{background-position:-96px -896px;}
#container .wg_angle_externe_no{background-position:-126px -896px;}

#container .wg_angle_externe_so{background-position:-128px -865px;}
#container .wg_angle_externe_se{background-position:-96px -865px;}
